**1- Normalization/Standardization**: Since there are not continuous numerical features in my datasets i cant do normalization or standardization.

**2-Quantify:** i Convert 4 columns (Gender,Ever_Married, Graduated, Spending_Score) from categorical variables into numerical.

**3-Summarize:** I used this to generate descriptive statistics for the numerical columns.

**4- Aggregate:** i used it to summarize data based on group the average age by gender.

**5-Combine:** I used it to merge df1 and df2 based on the CustomerID column.

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from io import BytesIO

In [ ]:
# URLs to the raw files on GitHub
csv_url = 'https://raw.githubusercontent.com/norahsanad/Excel/main/CostumerInformation.csv'
xlsx_url = 'https://raw.githubusercontent.com/norahsanad/Excel/main/CustomerCallListClean.xlsx'

# Read the CSV file into DataFrame df1
df1 = pd.read_csv(csv_url)

# Fetch and read the Excel file into DataFrame df2
response = requests.get(xlsx_url)
file_data = BytesIO(response.content)
df2 = pd.read_excel(file_data, engine='openpyxl')

# Display the first few rows of each DataFrame
print("df1 (CSV DataFrame):")
print(df1.head())

print("\ndf2 (Excel DataFrame):")
print(df2.head())

df1 (CSV DataFrame):
   CustomerID  Gender Ever_Married  Age Graduated  Profession  \
0        1001  Female          Yes   36       Yes    Engineer
1        1005    Male          Yes   37       Yes  Healthcare
2        1008  Female          Yes   69        No      Doctor
3        1010    Male          Yes   59        No   Executive
4        1013  Female           No   19        No   Marketing

   Work_Experience Spending_Score  Family_Size
0                0            Low            1
1                8        Average            4
2                0            Low            1
3               11           High            2
4                2            Low            4

df2 (Excel DataFrame):
   CustomerID First_Name Last_Name  Phone_Number                     Address  \
0        1001      Frodo   Baggins    1234567890       123 Shire Lane, Shire
1        1005        Jon      Snow    8766783469            123 Dragons Road
2        1008   Sherlock    Holmes    8766783469               98 Clue Drive
3        1010      Peter    Parker    1235455421  25th Main Street, New York
4        1013        Don    Draper    1235432345            2039 Main Street

  Paying Customer Do_Not_Contact
0               Y              N
1               Y              N
2               N              N
3               Y              N
4               Y              N

In [ ]:
# Quantify / Transform categorical variables into binary (0 and 1)
df1['Gender'] = df1['Gender'].map({'Male': 1, 'Female': 0})
df1['Ever_Married'] = df1['Ever_Married'].map({'Yes': 1, 'No': 0})
df1['Graduated'] = df1['Graduated'].map({'Yes': 1, 'No': 0})
df1['Spending_Score'] = df1['Spending_Score'].map({'High': 1, 'Average': 1, 'Low': 0})

# Combine / Merge df1 and df2 on CustomerID
df_combined = pd.merge(df1, df2, on='CustomerID')

# Aggregate / Calculate average age for each gender
average_age_by_gender = df_combined.groupby('Gender')['Age'].mean()

# Summarize / Generate descriptive statistics for numerical columns
summary_stats = df_combined.describe()

print("combined Datesets:")
print (df_combined)

print("\nAverage Age by Gender:")
print(average_age_by_gender)

print("\nSummary Statistics:")
print(summary_stats)

combined Datesets:
   CustomerID  Gender  Ever_Married  Age  Graduated  Profession  \
0        1001       0             1   36          1    Engineer
1        1005       1             1   37          1  Healthcare
2        1008       0             1   69          0      Doctor
3        1010       1             1   59          0   Executive
4        1013       0             0   19          0   Marketing
5        1014       1             1   47          1      Doctor
6        1015       1             1   61          1      Doctor
7        1016       0             1   47          1      Artist
8        1017       1             1   50          1      Artist
9        1020       1             0   19          0  Healthcare

   Work_Experience  Spending_Score  Family_Size First_Name   Last_Name  \
0                0               0            1      Frodo     Baggins
1                8               1            4        Jon        Snow
2                0               0            1   Sherlock      Holmes
3               11               1            2      Peter      Parker
4                2               0            4        Don      Draper
5                0               1            5     Leslie       Knope
6                5               0            3       Toby  Flenderson
7                1               1            3        Ron     Weasley
8                2               1            4    Michael       Scott
9                0               0            4     Anakin   Skywalker

   Phone_Number                         Address Paying Customer Do_Not_Contact
0    1234567890           123 Shire Lane, Shire               Y              N
1    8766783469                123 Dragons Road               Y              N
2    8766783469                   98 Clue Drive               N              N
3    1235455421      25th Main Street, New York               Y              N
4    1235432345                2039 Main Street               Y              N
5    8766783469                343 City Parkway               Y              N
6    3047622467                   214 HR Avenue               N              N
7    1235455421            2395 Hogwarts Avenue               N              N
8    1236439775  121 Paper Avenue, Pennsylvania               Y              N
9    8766783469     910 Tatooine Road, Tatooine               Y              N

Average Age by Gender:
Gender
0    42.75
1    45.50
Name: Age, dtype: float64

Summary Statistics:
        CustomerID     Gender  Ever_Married        Age  Graduated  \
count    10.000000  10.000000     10.000000  10.000000  10.000000
mean   1011.900000   0.600000      0.800000  44.400000   0.600000
std       5.858517   0.516398      0.421637  16.847024   0.516398
min    1001.000000   0.000000      0.000000  19.000000   0.000000
25%    1008.500000   0.000000      1.000000  36.250000   0.000000
50%    1013.500000   1.000000      1.000000  47.000000   1.000000
75%    1015.750000   1.000000      1.000000  56.750000   1.000000
max    1020.000000   1.000000      1.000000  69.000000   1.000000

       Work_Experience  Spending_Score  Family_Size  Phone_Number
count        10.000000       10.000000     10.00000  1.000000e+01
mean          2.900000        0.500000      3.10000  4.429211e+09
std           3.871549        0.527046      1.37032  3.773693e+09
min           0.000000        0.000000      1.00000  1.234568e+09
25%           0.000000        0.000000      2.25000  1.235455e+09
50%           1.500000        0.500000      3.50000  2.142031e+09
75%           4.250000        1.000000      4.00000  8.766783e+09
max          11.000000        1.000000      5.00000  8.766783e+09